{% extends 'base/baselogin.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>

{% block content %}

  <main class="form-signin">
    <form method="POST" action="{% url 'login' %}">
      {% csrf_token %}
      <img class="mb-4" src="{% static 'img/logo_empresa.jpg' %}" style="display: block; margin-left: auto; margin-right: auto;" width="150" height="90">
      <h1 class="h3 mb-3 fw-normal" align="center">Por favor Inicie Sesión</h1>

        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}

      <div class="form-floating">
        <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="floatingInput">Correo Electrónico</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recuérdame
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>
      <p class="mt-5 mb-3 text-muted">&copy; Control de documentos</p>
    </form>
  </main>
{% endblock content %}
