.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px dashed #1475cf; /* Estilo de borde punteado */
    padding: 20px; /* Espaciado interno */
    margin: 20px 0; /* Margen externo */
  }
  
  .upload-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .uploaded-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .upload-content {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .input-field {
    display: none; /* Sigue oculto */
  }
  