{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'img/logo_empresa.ico' %}?v1.1" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/upload/style.css' %}">

    <link rel="stylesheet" href="{% static 'css/datatables.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">

    
 

    <!-- Enlace a boxicons -->
    <link href="https://cdn.jsdelivr.net/npm/boxicons/css/boxicons.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>




    <script src = "{% static 'js/jquery-3.7.1.min.js' %}"> </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>



    <script src = "{% static 'js/datatables.js' %}"> </script>
    <script src = "{% static 'js/pdfmake.min.js.map' %}"> </script>
    <script src = "{% static 'js/pdfmake.js.map' %}"> </script>


    <script src = "{% static 'js/datatables.min.js' %}"> </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


    
    <!-- Latest compiled and minified CSS -->


</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ user.first_name }} {{user.last_name}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">
                            <i class="bi bi-house-door-fill"></i> Inicio
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-people-fill"></i> Entrenamiento
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'encuesta' %}"><i class='bx bx-run'></i> Realizar Capacitación</a></li>
                            <li><a class="dropdown-item" href="{% url 'asignar_entrenamiento' %}"><i class='bx bx-user-plus'></i> Asignar Capacitación</a></li>
                            {% if request.user.is_authenticated %}
                            {% with user_puesto=request.user.usuariopuesto_set.first %}
                            {% if user_puesto and user_puesto.puesto.descripcion_general == 'Coordinador de Entrenamiento' %}
                            <li><a class="dropdown-item" href="{% url 'aprobar_entrenamiento' %}"><i class='bx bx-badge-check'></i> Aprobar Capacitación</a></li>
                            <li><a class="dropdown-item" href="{% url 'matriz' %}"><i class='bx bx-spreadsheet'></i> Matriz de Capacitación</a></li>
                            <li><a class="dropdown-item" href="{% url 'update_nomenclature' %}"><i class='bx bx-file'></i> Ver Reportes</a></li>
                            {% endif %}
                            {% endwith %}
                            {% endif %}
                            
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Documentos
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% with user_puesto=request.user.usuariopuesto_set.first %}
                            {% if user_puesto and user_puesto.puesto.descripcion_general == 'Ingeniero de Sistemas de Gestión' %}
                            <li><a class="dropdown-item" href="{% url 'liberar-documento' %}"><i class='bx bx-folder-open'></i> Liberar Documento</a></li>
                            {% endif %}
                            {% endwith %}
                            {% endif %}
                            <li><a class="dropdown-item" href="{% url 'aprobar' %}"><i class='bx bx-check-square'></i> Aprobar Documento</a></li>
                            <li><a class="dropdown-item" href="{% url 'descargar_plantilla' %}"><i class='bx bx-download'></i> Descargar Plantilla</a></li>
                            <li><a class="dropdown-item" href="{% url 'solicitar' %}"><i class='bx bx-send'></i> Solicitar Firmas</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'buscar_documento' %}"><i class='bx bx-search'></i>Buscar Documento</a></li>
                            
                        </ul>
                    </li>
                    {% if request.user.is_authenticated %}
                    {% with user_puesto=request.user.usuariopuesto_set.first %}
                    {% if user_puesto and user_puesto.puesto.descripcion_general == 'Ingeniero de Sistemas de Gestión' %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Administración
                        </a>
                        <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url "adddoc" %}"><i class='bx bx-folder-plus'></i> Agregar Documento</a></li>
                        <li><a class="dropdown-item" href="{% url "deletedoc" %}"><i class='bx bx-trash'></i> Eliminar Documento</a></li>
                        <li><a class="dropdown-item" href="{% url "blockdocument" %}"><i class='bx bx-lock-open-alt'></i> Documentos Bloqueados</a></li>
                        <li><a class="dropdown-item" href="{% url "update_document" %}"><i class='bx bx-sync'></i> Actualizar Documento</a></li>
                        <li><a class="dropdown-item" href="{% url "adduser" %}"><i class='bx bx-user-plus'></i> Agregar Usuario</a></li>
                        <li><a class="dropdown-item" href="{% url "blockuser" %}"><i class='bx bx-user-minus'></i> Bloquear Usuario</a></li>
                        <li><a class="dropdown-item" href="{% url "logbook" %}"><i class='bx bx-book-content'></i> Libro de Registro</a></li>

    
                        </ul>
                    </li>
                    {% endif %}
                    {% endwith %}
                {% endif %}

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-bell"></i> <span class="badge bg-danger">{{total_notificaciones}}</span> <!-- Ícono de campana con un indicador numérico -->
                        </a>
                        <ul class="dropdown-menu">
                            {% if request.user.is_authenticated %}
                            {% with user_puesto=request.user.usuariopuesto_set.first %}
                            {% if user_puesto and user_puesto.puesto.descripcion_general == 'Ingeniero de Sistemas de Gestión' %}
                            <li><a class="dropdown-item" href="{{ url_liberar_documento }}">Tienes {{ preaprobados_count }} documentos preaprobados pendientes.</a></li>
                            {% endif %}
                            {% endwith %}
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url_asignar_entrenamiento }}">Tienes {{ asignaciones_pendientes }} asignaciones de entrenamiento pendientes.</a></li>
                            {% if request.user.is_authenticated %}
                            {% with user_puesto=request.user.usuariopuesto_set.first %}
                            {% if user_puesto and user_puesto.puesto.descripcion_general == 'Coordinador de Entrenamiento' %}
                            <li><a class="dropdown-item" href="{{ url_aprobar_entrenamiento }}">Tienes {{ esperando_liberacion_count }} documentos esperando liberación.</a></li>
                            {% endif %}
                            {% endwith %}
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ url_aprobar_documento }}">Tienes {{ documentos_por_firmar_count }} documentos pendientes por firmar.</a></li>
                            <li><a class="dropdown-item" href="{{ url_encuesta_entrenamiento }}">Tienes {{ entrenamientos_pendientes }} entrenamientos pendientes.</a></li>
                        </ul>
                    </li>



                </ul>
                <ul class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">
                    <i class='bx bx-log-out-circle'></i> Cerrar Sesión
                </a>
            </ul>
            </div>
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/custom/uploader.js' %}"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    

    {% if messages %}
    <script>
    document.addEventListener('DOMContentLoaded', function () {
        // Iterar sobre cada mensaje de Django
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',  // El tipo de mensaje (success, error, etc.)
                title: '{{ message|escapejs }}',  // El texto del mensaje
                showConfirmButton: false,
                timer: 3000  // El mensaje se cerrará después de 3 segundos
            });
        {% endfor %}
    });
    </script>
    {% endif %}
    
    

