{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}



{% block content %}

<!--
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
-->

<div class="container mt-5">
    <h2 align= "center" class="mb-4">Agregar Usuarios</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="form-group">
            <fieldset class="border p-4 rounded">
                <legend class="w-auto">Puesto del Usuario:</legend>
                {% for field in puesto_form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        
    
        <button type="submit" class="btn btn-primary">Crear Usuario</button>

    </form>

</div>




{% endblock content %}
