{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}



{% block content %}



<div class="container mt-5">
    <h2 align= "center" class="mb-4">Add User</h2>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="form-group">
            <fieldset class="border p-4 rounded">
                <legend class="w-auto">Información del Usuario:</legend>
                {% for field in user_form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {% if field.field.widget.input_type == 'password' %}
                            <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" {% if field.field.required %}required{% endif %}>
                        {% else %}
                            <input type="text" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" value="{{ field.value|default_if_none:"" }}" {% if field.field.required %}required{% endif %}>
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback" style="display: block;">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
        </div>

        <div class="form-group">
            <fieldset class="border p-4 rounded">
                <legend class="w-auto">Perfil del Usuario:</legend>
                {% for field in perfil_usuario_form %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <div class="invalid-feedback">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </fieldset>
        </div>
        
        
        <button type="submit" class="btn btn-primary">Complete Registration</button>
    </form>

</div>



{% endblock content %}
