{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}

<h3 align="center">Aprobar Entrenamiento</h3>

<div class="container">
    <div class="row">
        <div class="col-md-12 mb-3">
            <form  method="post" enctype="multipart/form-data" action="{% url 'aprobar_entrenamiento' %}">
                {% csrf_token %}
                <label for="documento">Revisar:</label>
                <div class="input-group">
                    <select class="form-select" id="documento" name="reviewInput">
                        {% for documento in documentos %}
                        <option value="{{ documento.Nombre_Documento }}">  <!-- Solo el nombre del archivo -->
                            {{ documento.Nombre_Documento }}
                        </option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-success" name="action" value="search" >Buscar <i class='bx bx-search'></i></button>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            {% if doc_pdf %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{{ doc_pdf }}" width="450" height="500"></iframe>
            </div>
            {% else %}
            <p>No hay documentos para mostrar</p>
            {% endif %}

        </div>
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Detalles del Documento
                </div>
                {% for entrenamiento in entrenamiento_info %}
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text"><strong>Revisado por: {{ entrenamiento.Reviso }} </strong></p>
                    <p class="card-text"><strong>Autorizado por: {{ entrenamiento.Autorizo }}</strong></p>
                    <p class="card-text"><strong>Responsable: {{ entrenamiento.Responsable }}</strong></p>
                    <p class="card-text"><strong>Rev: {{ entrenamiento.revision_documento }}</strong></p>
                    <p class="card-text"><strong>Tipo de Documento: {{ entrenamiento.id_plantilla__nombre }}</strong></p>
                </div>
                {% endfor %}
            </div>
            <form id="approvalDetailsForm" method="POST" action="{% url 'aprobar_entrenamiento' %}">
                {% csrf_token %}

                <div class="form-group">
                    <label for="comment">Comentario:</label>
                    <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
                </div>
                <!-- Botones Firmar y Rechazar -->
                <br>
                <button type="submit" class="btn btn-success" name="action" value="sign">Firmar</button>
                <button type="submit" class="btn btn-danger" name="action" value="reject">Rechazar</button>
            </form>

        </div>
    </div>
</div>

<script>

</script>

{% endblock content %}
