{% extends 'base/base.html' %}
{% load static %}
{% block title %}Asignar Entrenamiento{% endblock title %}

{% block content %}
<div class="container mt-5">
    <form method="post"> 
        {% csrf_token %}
    <div class="row">
        <div class="col-12 d-flex justify-content-between align-items-end mb-3">
            <form  method="post" class="flex-grow-1 me-3">
                {% csrf_token %}
                <div class="mb-2">
                    <label for="documento" class="form-label">Documento:</label>
                    <select class="form-select" id="documento">
                        
                        {% for documento in documentos  %}
                        <option  value = "{{documento.nombrexd}}">{{documento.nombrexd}}</option>
                        {% endfor %}
                            
                        <!-- Opciones de documentos -->
                    </select>
                </div>
            </form>
            <div>
                <button type="button" id="agregar-usuario-btn" class="btn btn-success mb-2">Agregar usuario</button>
                <button type="button" id="mostrar-form-puesto-btn" class="btn btn-info mb-2">Agregar descripción de puesto</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="border p-3 h-100 " style="max-height: 400px; overflow-y: auto;">


    
            <ul id="usuarios-lista" class="list-group mb-3" style="display: none;">
                <h5>Usuarios Seleccionados</h5>
            </ul>
            <div id="contenedor-selects"></div>
            <h4 id="usuarios-titulo" style="display: none;">Usuarios</h4>
            <ul id="usuarios-lista2" class="list-group mb-3" style="display: none;"></ul>
            




            </div>
        </div>
        {% for documento in documentos %}
        <div class="col-md-4">
            <div class="mb-3">
                <label class="form-label">Tipo de documento:</label>
                <p id="tipoDocumento">{{ documento.nombre_plantilla }}</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Área/Línea:</label>
                <p id="areaLinea">{{ documento.area }}</p>
            </div>
            <div class="mb-3">
                <label class="form-label">Rev Actual:</label>
                <p id="revActual">{{ documento.revision_actual }}</p>
            </div>
        </div>
        {% endfor %}

        <div class="col-12 mt-3">
            <button type="button" id = 'enviar-usuarios-btn' class="btn btn-primary w-100">Solicitar Entrenamiento</button>
        </div>
    </form>
    </div>
</div>

<script>
    $(document).ready(function() {

        var contadorSelects = 0; // Contador para el ID de los select adicionales
        var puestosSeleccionados = [];
        var indiceUsuarioActual = 0;
    
        var usuariosActivos = [
            {% for usuario in usuarios_activos %}
                ["{{ usuario.user.first_name }}", "{{ usuario.user.last_name }}"],
            {% endfor %}
        ].map(function(usuario) {
            return [usuario[0], usuario[1]];
        });
    
        


        function actualizarOpcionesDisponibles() {
            $('.puesto').each(function() {
                var selectActual = $(this);
                var opcionActual = $(this).val();
    
                // Habilitar todas las opciones primero
                $(this).find('option').prop('disabled', false);
    
                // Luego deshabilitar las que ya están seleccionadas excepto la actualmente seleccionada en este select
                puestosSeleccionados.forEach(function(puesto) {
                    if (puesto !== opcionActual) {
                        selectActual.find('option[value="' + puesto + '"]').prop('disabled', true);
                    }
                });
            });
        }
    
        $('#mostrar-form-puesto-btn').click(function() {
            var selectId = 'puesto' + contadorSelects;
            var infoId = 'info' + contadorSelects;
        
            // Agregar nuevo select con su contenedor de información y un botón para quitarlo
            var nuevoSelect = `<div class="mb-3" id="contenedor-${selectId}">
                <label class="form-label">Descripción de Puesto:</label>
                <select class="form-select puesto" id="${selectId}">
                    <option value="" selected disabled>Seleccionar Puesto</option>
                    {% for puesto in puestos %}
                    <option value="{{ puesto }}">{{ puesto }}</option>
                    {% endfor %}
                </select>
                <div id="${infoId}" class="puesto-info" style="display:none;">
                    <h4></h4>
                    <ul id="usuarios-lista" class="list-group"></ul>
                </div>
                <button type="button" class="btn btn-danger remove-puesto" data-target="#contenedor-${selectId}">Quitar Puesto</button>
            </div>`;
            $('#contenedor-selects').append(nuevoSelect);
            contadorSelects++;
              // Agregar manejador de eventos change
            $('#' + selectId).change(function() {
                var puestoSeleccionado = $(this).val();
                obtenerUsuariosPorPuesto(puestoSeleccionado, infoId);
            });
            actualizarOpcionesDisponibles();


        });

        $('#contenedor-selects').on('click', '.remove-puesto', function() {
            var targetId = $(this).data('target');
            var puestoARemover = $(targetId + ' select').val();
    
            // Remover el puesto de la lista de puestos seleccionados
            puestosSeleccionados = puestosSeleccionados.filter(p => p !== puestoARemover);
    
            $(targetId).remove();
            actualizarOpcionesDisponibles();
        });


        $('#contenedor-selects').on('change', '.puesto', function() {
            var puestoSeleccionado = $(this).val();
            var puestoAnterior = $(this).data('ultimoSeleccionado');
    
            // Actualizar puestos seleccionados
            if (puestoAnterior) {
                puestosSeleccionados = puestosSeleccionados.filter(p => p !== puestoAnterior);
            }
            puestosSeleccionados.push(puestoSeleccionado);
            $(this).data('ultimoSeleccionado', puestoSeleccionado);
            actualizarOpcionesDisponibles();

        });
        
    

        $('#agregar-usuario-btn').click(function() {
            // Verifica si hay usuarios activos para agregar
            if (usuariosActivos.length > 0) {
                // Selecciona un índice aleatorio de la lista de usuarios activos
                var indiceAleatorio = Math.floor(Math.random() * usuariosActivos.length);
                var usuario = usuariosActivos.splice(indiceAleatorio, 1)[0]; // Elimina el usuario de la lista para evitar repetición
    
                // Crea un nuevo elemento de lista con un botón para quitar al usuario
                // Cambia el botón para usar un icono de FontAwesome
                var nuevoUsuario = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${usuario[0]} ${usuario[1]}
                    <button type="button" class="btn btn-danger btn-sm quitar-usuario"><i class="fas fa-trash-alt"></i></button>
                </li>`;
                $('#usuarios-lista2').append(nuevoUsuario).show(); // Agrega el nuevo usuario a la lista y asegura que la lista sea visible
                $('#usuarios-titulo').show();
                $('#usuarios-lista2').show();
            } else {
                alert('No hay más usuarios activos para agregar.');
            }
        });
    
        // Evento para el botón de quitar usuario
        $('#usuarios-lista2').on('click', '.quitar-usuario', function() {
            $(this).parent().remove(); // Elimina el elemento li del usuario específico
            // Considerar la opción de volver a agregar el usuario a usuariosActivos si deseas que pueda ser seleccionado de nuevo
        });
        

        function obtenerUsuariosPorPuesto(puesto, infoId) {
            $.ajax({
                url: '{% url 'ajax_puesto' %}',
                method: 'POST',
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                data: {
                    puesto: puesto
                },
                success: function(data) {
                    var contenedor = $('#' + infoId);
                    contenedor.find('h3').text('Descripción de ' + puesto);
                    var lista = contenedor.find('ul');
                    lista.empty();
                    data.nombres_puesto.forEach(function(nombre) {
                        lista.append('<li class="list-group-item">' + nombre + '</li>');
                    });
                    contenedor.show();
                },
                error: function(xhr, status, error) {
                    console.error('Error al obtener usuarios:', error);
                }
            });
        }
        


        $('#enviar-usuarios-btn').click(function() {
            var usuarios = []; // Array para almacenar nombres de usuarios
            
            // Recoge todos los nombres de la lista usuarios-lista
            console.log('Recogiendo nombres de #usuarios-lista');
            $('#usuarios-lista li').each(function() {
                var nombre = $(this).text().trim();
                console.log('Nombre recogido de #usuarios-lista:', nombre);
                if (nombre) usuarios.push(nombre);
            });
            
            // Recoge todos los nombres de la lista usuarios-lista2
            console.log('Recogiendo nombres de #usuarios-lista2');
            $('#usuarios-lista2 li').each(function() {
                var nombre = $(this).text().trim();
                console.log('Nombre recogido de #usuarios-lista2:', nombre);
                if (nombre) usuarios.push(nombre);
            });
        
            console.log('Usuarios a enviar:', usuarios); // Verificar qué se está recogiendo
            var documento = $('#documento').val();
            console.log("documento", documento)
            
            // Verifica si hay usuarios para enviar
            if (usuarios.length === 0) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'No hay usuarios para enviar.',
                    confirmButtonText: 'Aceptar'
                });
                return; // Retorna inmediatamente si el campo del documento está vacío

            } else if (documento === null) {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'El campo del documento está vacío.',
                    confirmButtonText: 'Aceptar'
                });
                return; // Retorna inmediatamente si el campo del documento está vacío

            } else {
                var usuariobool = 'true';
                $.ajax({
                    url: '{% url "asignar_entrenamiento" %}', // Asegúrate de que esta URL es correcta
                    type: 'POST',
                    data: {
                        'usuarios[]': usuarios, // Aquí 'usuarios' debe ser una cadena, lista de nombres separados por comas
                        'usuariobool': usuariobool,
                        'documento': documento
                    },
                    traditional: true, // Asegura que jQuery no use la notación de corchetes moderna que puede no manejar Django correctamente
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(response) {
                        console.log("Se envió correctamente");
                        // Limpiar las listas después de enviar los datos

                        Swal.fire({
                            title: '¡Éxito!',
                            text: 'Se ha guardado la nomenclatura con todas las descripciones de puesto establecidas excluyendo las repetidas',
                            icon: 'success',
                            confirmButtonText: 'Ok'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Redirigir a la URL específica
                                window.location.href = 'http://127.0.0.1:8000/inicio/';
                            }
                        });



                        $('#usuarios-lista').empty();
                        $('#usuarios-lista2').empty();
                        $('#usuarios-titulo').hide(); // Ocultar el título si ya no es necesario



                    },
                    error: function(xhr, status, error) {
                        console.error('Error al enviar los usuarios:', error);
                    }
                });
            }
            
        });
        
    
  
    });
    
    
</script>


{% endblock content %}
