{% extends 'base/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
<div class="container mt-5">
    <h2 align = "center">Realizar Entrenamiento</h2>
    <div class="mb-3">
        <form method='POST' class="needs-validation" novalidate>
            {% csrf_token %}
            <label for="lineaArea2" class="form-label">Encuesta a realizar para validar entrenamiento</label>
            <div class="input-group">
                <select class="form-select" id="lineaArea2" name="nombre_documento" required>
                    {% for documento in documentos %}
                    <option value="{{ documento.Nombre_Documento }}">{{ documento.Nombre_Documento }}</option>
                    {% endfor %}
                </select>
                <span class="input-group-text">
                    <box-icon type='solid' name='file-doc' style='width: 24px; height: 24px;'></box-icon>
                </span>
                <div class="invalid-feedback">Por favor, selecciona un documento.</div>
            </div>
            <br>
            <br>
            <div class="mb-3">
                <label for="lineaArea" class="form-label">¿A qué línea/Área pertenece este documento?</label>
                <select class="form-select" id="lineaArea" name="area_seleccionada" required>
                    {% for area in areas %}
                    <option value="{{ area }}">{{ area }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Por favor, selecciona una línea/área.</div>
            </div>
            <div class="mb-3">
                <label for="tipoDocumento" class="form-label">¿Qué tipo de documento es?</label>
                <select class="form-select" id="tipoDocumento" name="plantilla_seleccionada" required>
                    {% for plantilla in plantillas %}
                    <option value="{{ plantilla }}">{{ plantilla }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Por favor, selecciona un tipo de documento.</div>
            </div>
            <div class="mb-3">
                <label for="numeroRevision" class="form-label">¿Qué número de revisión tiene?</label>
                <select class="form-select" id="numeroRevision" name="revision_documento" required>
                    {% for rev_documento in rev_documentos %}
                    <option value="{{ rev_documento }}">{{ rev_documento }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Por favor, selecciona un número de revisión.</div>
            </div>
            <div class="mb-3">
                <label for="descripcion" class="form-label">¿En qué consiste?</label>
                <textarea class="form-control" id="descripcion" name="en_que_consiste" rows="3" required></textarea>
                <div class="invalid-feedback">Por favor, proporciona una descripción.</div>
            </div>
            <div class="mb-3">
                <label for="autorizacion" class="form-label">¿Quién autorizó el documento?</label>
                <select class="form-select" id="autorizacion" name="autor" required>
                    {% for nombre_completo in aprobadores %}
                    <option value="{{ nombre_completo }}">{{ nombre_completo }}</option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Por favor, selecciona un autorizador.</div>
            </div>
            <button type="submit" class="btn btn-primary">Terminar</button>
        </form>
    </div>
</div>

<script>
    // JavaScript para activar las validaciones de Bootstrap
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
{% endblock content %}
